---
const { class: className, ...rest } = Astro.props;
---

<section class:list={className} {...rest}>
  <h2 class="text-3xl font-serif mb-8 tracking-[0.1em]">お問合せ</h2>
  <p>
    不明点、トラブル、その他質問事項などございましたら、こちらからお問い合わせください。
  </p>
  <a
    class="block max-w-max mx-auto my-8 group relative overflow-hidden overflow-x-hidden rounded-full px-10 bg-blue text-white"
    href="https://forms.gle/NH7nJ1iMWEvwKcte9"
    target="_blank"
  >
    <span class="relative flex flex-col items-center py-4 z-10">
      <span class="block font-bold">お問合せフォーム</span>
      <span class="text-xs text-center">Google フォーム</span></span
    >
    <span class="absolute inset-0 overflow-hidden rounded-md">
      <span
        class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-black transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150 group-hover:drop-shadow-md"
      ></span>
    </span>
  </a>
</section>
