<footer class="text-white text-center pb-40">
  <p class="mb-4">
    主催：ポルコ（<a
      href="https://x.com/porco_0"
      target="_blank"
      class="hover:text-blue">X: @porco_0</a
    >）
  </p>
  <p>ご協力</p>
  <p>
    キービジュアル制作：えび太郎様（<a
      href="https://x.com/ebizarashi"
      target="_blank"
      class="hover:text-blue">X: @ebizarashi</a
    >）
  </p>
  <p>
    WEBサイト・デザイン制作：ゆゆき様（<a
      href="https://x.com/yyk_kkm"
      target="_blank"
      class="hover:text-blue">X: @yyk_kkm</a
    >）
  </p>
</footer>
