---
import Button from "./button.astro";
import { Image } from "astro:assets";
import XImage from "../../assets/logo.svg";
---

<nav class="group hidden md:relative md:block py-4">
  <ul class="flex justify-end text-white">
    <li class="mr-8">
      <a
        href="#about"
        class="transition-all duration-300 group-hover:opacity-50 hover:!opacity-100"
        >イベントについて</a
      >
    </li>
    <li class="mr-8">
      <a
        href="#join"
        class="transition-all duration-300 group-hover:opacity-50 hover:!opacity-100"
        >参加要項</a
      >
    </li>
    <li class="mr-8">
      <a
        href="#circle"
        class="transition-all duration-300 group-hover:opacity-50 hover:!opacity-100"
        >サークル参加</a
      >
    </li>
    <li class="mr-8">
      <a
        href="#event"
        class="transition-all duration-300 group-hover:opacity-50 hover:!opacity-100"
        >連動企画</a
      >
    </li>
    <li class="mr-8">
      <a
        href="#tmp"
        class="transition-all duration-300 group-hover:opacity-50 hover:!opacity-100"
        >素材配布</a
      >
    </li>
    <li class="mr-8">
      <a
        href="#contact"
        class="transition-all duration-300 group-hover:opacity-50 hover:!opacity-100"
        >お問合せ</a
      >
    </li>
    <li class="mr-8">
      <a
        href="https://x.com/amechrilog"
        class="transition-all duration-300 group-hover:opacity-50 hover:!opacity-100"
      >
        <Image src={XImage} class="w-4" alt="X" /></a
      >
    </li>
  </ul>
</nav>
