---
import { Image } from "astro:assets";
import returnImage from "../../assets/return.png";
---

<a
  href="#"
  id="return"
  class="fixed flex flex-col items-center bottom-2 right-2 md:bottom-10 md:right-10 opacity-0 invisible pointer-events-none"
>
  <img src={returnImage.src} class="w-12 md:w-16" alt="トップに戻る" />
  <span class="text-xs px-2 rounded-full bg-blue">TOP↑</span>
</a>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("load", () => {
    const upBtn = document.querySelector("#return");
    const heroSection = document.querySelector("#hero");

    if (upBtn && heroSection) {
      gsap.to(upBtn, {
        opacity: 1,
        y: 5,
        visibility: "visible",
        pointerEvents: "auto",
        duration: 0.3,
        scrollTrigger: {
          trigger: heroSection,
          start: "bottom top",
          end: "max",
          toggleActions: "play none none reverse",
        },
      });
    }
  });
</script>
